:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #020101;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --full-height-with-bottom: calc(100vh - 50px);
}

#root {
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #f5f5f5;
  transition: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  background-color: inherit;
}

#root .adm-button {
  background-color: var(--background-color);
}

.adm-image-uploader-upload-button-wrap .adm-image-uploader-upload-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.adm-check-list {
  height: 50vh;
  overflow-y: scroll;
}

.adm-list-item.horizontal .adm-list-item-content-main {
  display: flex;
  column-gap: 20px;
}

.mixing-rate-form-item .adm-form-item-child-inner {
  display: flex;
}

.notice-item-detail {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 40px;
}

.notice-item-detail > header {
  margin-bottom: 30px;
}

.notice-item-detail > header > .title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.notice-item-detail > header > .date {
  font-size: 14px;
  color: #808080;
}

.notice-item-detail p {
  margin-top: 6px;
  margin-bottom: 6px;
}

.notice-item-detail img {
  width: 100%;
}
